@media all and (min-width: 50px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 200px 0px 100px 1100px;
      max-width: 350px;
    }
    .bg {
      background-image: url("rpo2.jpg");
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }

  }
  